* {
    overflow: hidden;
    width: 100vh;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(futuristic-background-design_23-2148503793.avif);
}

.login-container {
    background-color: #fff;
    padding: 20px;
    width: 350px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.signin-container {
    background-color: #f5f3bb;
    padding: 20px;
    width: 350px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}


h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.input-box {
    position: relative;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: 0.3s;
}

input:focus {
    border-color: #5cb85c;
}

label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 14px;
    color: #777;
    pointer-events: none;
    transition: 0.3s;
}

input:focus + label,
input:valid + label {
    top: -10px;
    left: 10px;
    font-size: 12px;
    color: #5cb85c;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.remember-me {
    display: flex;
    align-items: center;
}

.remember-me input {
    margin-right: 5px;
}

.forgot-password {
    color: #2a8cf4c2;
    text-decoration: none;
    font-size: 14px;
}

.forgot-password:hover {
    text-decoration: underline;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #2a8cf4c2;
    border: none;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

button:hover {
    background-color: #2a8cf4c2;
}

.terms {
    text-align: center;
    font-size: 12px;
    color: #777;
}

.terms a {
    color: #2a8cf4c2;
    text-decoration: none;
    font-weight: bold;
}

.terms a:hover {
    text-decoration: underline;
}
img{
    border-radius: 20px;
}
